*,*::after,*::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  --bg-color : hsl(180, 52%, 96%);
  --filter: hsl(180, 31%, 95%);
  --dark-cyan: hsl(180, 8%, 52%);
  --very-dark-cyan: hsl(180, 14%, 20%);
  --desat-cyan: hsl(180, 29%, 50%);
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
  background-color: var(--bg-color);
}

.top{
  width: 100%;
  height: 40vh;
  background-image: url(/assets/top-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

